
{% extends  "layout.html" %}
{% block content %}
    {% for tweet in feed %}
        <article class="meida content-section">
            <div class="media-body">
                <div class ="tweet-metadata">
                    <a class="mr-2" href="#"> {{ tweet.Author }}</a>
                    <small class="text-muted">{{ tweet.Date }}</small>
                </div>
                <p class="tweet-content">{{ tweet.Content }}</p>
            </div>
        </article>       
    {% endfor %}
{% endblock content %}

{% block searchbar %}
<form class="form-inline my-2 my-lg-0 ml-2" method="POST" action="{{ url_for('home') }}">
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Searchfield" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchbar %}

{% block sidebar %}
  <div class="col-md-4">
    <div class="content-section">
      <h3>Agent Control Panel</h3>
      <p class="text-muted">Status: {{ status }}</p>
      <form action="{{ url_for('toggle_pause') }}" method="POST">
          <button class="btn btn-primary" type="submit" name="pause_unpause" value="{{ pause_unpause }}">{{ pause_unpause }}</button>
      </form>
      <br>
      <ul class="list-group">
        {% if agents %}
          {% for agent in agents %}
            <li class="list-group-item list-group-item-light">
              <a href="{{ url_for('agent_details', agent_name=agent.name) }}" class="agent-name" style="color: blue; text-decoration: underline;">{{ agent.name }}</a>
              <p class="tweet-content">{{ agent.description }}</p>
            </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item list-group-item-light">
            <span class="agent-name">No agents available</span>
            <span class="status-indicator default"></span>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock sidebar %}

{% block scripts %}
  {% if running %}
    <script>
        // Refresh the page every 5 seconds
        setTimeout(function() {
            location.reload();
        }, 3000);
    </script>
  {% endif %}
{% endblock scripts %}
