
{% extends  "layout.html" %}
{% block content %}
    {% for tweet in feed %}
        <article class="meida content-section">
            <div class="media-body">
                <div class ="tweet-metadata">
                    <a class="mr-2" href="#"> {{ tweet.Author }}</a>
                    <small class="text-muted">{{ tweet.Date }}</small>
                </div>
                <p class="tweet-content">{{ tweet.Content }}</p>
            </div>
        </article>       
    {% endfor %}
{% endblock content %}

{% block searchbar %}
<form class="form-inline my-2 my-lg-0 ml-2" method="POST" action="{{ url_for('home') }}">
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Searchfield" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock searchbar %}
